parameters:
    voucher_entity.class: Dende\VouchersBundle\Entity\Voucher
    voucher_repository.class: Dende\VouchersBundle\Entity\VoucherRepository
    voucher_manager.class: Dende\VouchersBundle\Services\Manager\VoucherManager
    date_validator.class: Dende\VouchersBundle\Validator\VoucherDateValidator
services:
    voucher_repository:
        class:          "%voucher_repository.class%"
        factory_service: doctrine
        factory_method:  getRepository
        arguments: [ "%voucher_entity.class%" ]
        
    voucher_manager:
        class:          "%voucher_manager.class%"
        parent:         base_manager
        calls:
             - [ setClass, [%voucher_entity.class%] ]
             - [ setRepository, ["@voucher_repository"] ]

    validator.voucher_date:
        class:          "%date_validator.class%"
        arguments: 
            - "@voucher_manager"
        tags:
            - { name: validator.constraint_validator, alias: validator.voucher_date_constraint}