<div id="overlayNavigation" style="display: none;" class="container-fluid">
    <a href="#" id="closeOverlayNavigation">zamknij</a>
    <div id="toolbox">

        <div class="page-header">
            <h4>Jesteś zalogowany/a jako:</h4>
        </div>
        <div id="loggedAs" class="container-fluid">
            <div class="row-fluid">
                <div class="span6">
                    <img src="/bundles/members/images/no-profile.gif" class="img-circle">
                    <h3>Grzegorz Kaszuba <small>(administrator)</small></h3>
                </div>
                <div class="span6">
                    <a href="#" class="btn btn-block">edytuj profil</a>
                    <a href="#" class="btn btn-block">administracja</a>
                    <a href="#" class="btn btn-block">ustawienia</a>
                    <a href="#" class="btn btn-block">wyloguj</a>
                </div>
            </div>
        </div>
        <div class="page-header">
            <h4>Nawigacja:</h4>
        </div>
        {% include "_navigation_items.html.twig" %}
    </div>
</div>
