<div class="control-group" data-filter-name="{{ widget }}">
    <label for="filter_subfilters_activities" class="control-label">Zajęcia</label>
    <div class="controls">
        <a href="#" class="removeFilter pull-right">&times; usuń</a>
        {{ form_widget(form.activity,{attr:{class:""}}) }}
    </div>
</div>

