<div class="control-group" data-filter-name="{{ widget }}">
    <label for="filter_subfilters_age" class="control-label">Wiek (w latach)</label>
    <div class="controls">
        <a href="#" class="removeFilter pull-right">&times; usuń</a>
        {{ form_widget(form.type,{attr:{class:""}}) }}
        {{ form_widget(form.age1,{attr:{class:"input-mini"}}) }}
        {{ form_widget(form.age2,{attr:{class:"input-mini"}}) }}
    </div>
</div>