<div class="control-group" data-filter-name="{{ widget }}">
    <label for="filter_subfilters_currentVoucher" class="control-label">Aktualny karnet</label>
    <div class="controls">
        <a href="#" class="removeFilter pull-right">&times; usuń</a>
        {{ form_widget(form.currentVoucher,{attr:{class:""}}) }}
    </div>
</div>

