<div class="control-group" data-filter-name="{{ widget }}">
    <label for="filter_subfilters_entryType" class="control-label">Płatność za wejście</label>
    <div class="controls">
        <a href="#" class="removeFilter pull-right">&times; usuń</a>
        {{ form_widget(form.type,{attr:{class:""}}) }}
        {{ form_widget(form.entryType,{attr:{class:""}}) }}
    </div>
</div>

