<div class="control-group" data-filter-name="{{ widget }}">
    <label for="filter_subfilters_price" class="control-label">Cena karnetu (w PLN)</label>
    <div class="controls">
        <a href="#" class="removeFilter pull-right">&times; usuń</a>
        {{ form_widget(form.type,{attr:{class:""}}) }}
        {{ form_widget(form.price1,{attr:{class:"input-mini"}}) }}
        {{ form_widget(form.price2,{attr:{class:"input-mini"}}) }}
    </div>
</div>