<div class="control-group" data-filter-name="{{ widget }}">
    {{ form_label(form[widget]) }}
    <div class="controls">
        <a href="#" class="removeFilter pull-right">&times; usuń</a>
        {{ form_widget(form[widget]) }}
        <div class="help-block"></div>
    </div>
</div>

