{% extends "base.html.twig" %}

{% block body %}
<div class="heading">
    <h3>{% block headingTitle %}{% endblock %}</h3>

    {% block toolbarButtons %}
    {% block buttonHeading %}
    <a href="{% block buttonPath %}{% endblock %}" class="btn pull-right {% block buttonClasses %}{% endblock %}" id="{% block buttonId %}{% endblock %}">
        <span class="icon32 icomoon-icon-new green"></span>
        {% block buttonLabel %}{% endblock %}
    </a>
    {% endblock %}
    {% endblock toolbarButtons%}

</div><!-- End .heading-->

<!-- Build page from here: Usual with <div class="row-fluid"></div> -->


<div class="row-fluid">

    <div class="span12">

        <div class="box gradient">

            <div class="title">
                {% block listHeaderRightToolbox %}{% endblock %}
                <h4>
                    <span>{% block listTitle %}{% endblock%}</span>
                </h4>
            </div>

            <div class="content noPad clearfix">
                {% block listTabs %}{% endblock listTabs %}
                {% block listTable %}
                <table
                    cellpadding="0" cellspacing="0" border="0"
                    width="100%"
                    class="{% block listTableClass %}dynamicTable display table table-bordered{% endblock %}"
                    id="{% block listTableId %}{% endblock %}"
                    {% block listTableAttr %}{% endblock %}>
                    <thead>
                        {% block listThead %}{% endblock %}
                    </thead>
                    <tbody>
                        {% block listTbody %}{% endblock %}
                    </tbody>
                </table>
                {% endblock %}
            </div>

        </div><!-- End .box -->

    </div><!-- End .span12 -->

</div><!-- End .row-fluid -->
{% endblock body %}