{% extends "VouchersBundle:List:list.html.twig" %}

{% block body_class %}membersGallery{% endblock %}

{% block membersTitle %}
Galeria osób
{% endblock membersTitle %}

{% block membersBody %}
<div class="container-fluid">
    {% for member in members %}
        {% if loop.index0%6 == 0 %}<div class="row-fluid">{% endif %}
        <a href="{{ path("_member_edit",{id : member.id}) }}" class="thumbnail span2 editMember">
            <img src="{% if member.foto is null or member.foto is not defined or member.foto == '' %}http://placehold.it/200x240{% else %}/uploads/gallery/{{ member.foto }}{% endif %}" class=""/>
                {{ member.name }}
        </a>
        {% if loop.index0%6 == 5 %}</div>{% endif %}
    {% endfor %}
</div>
{% endblock membersBody %}
