.icon a {
  text-decoration: none;
}
div#editMemberModal.modal {
  width: 1000px;
  margin-left: -500px;
}
div#editMemberModal.modal img#memberFoto {
  max-width: 270px;
  max-height: 200px;
}
div#editMemberModal.modal .modal-body {
  max-height: 1200px;
}
div#editMemberModal.modal form#deleteUserForm {
  display: inline-block;
  margin: 0;
  padding: 0;
}
div#editMemberModal.modal form#deleteUserForm label {
  display: inline;
  margin: 0;
  padding: 0;
}
.editMember img {
  max-width: 200px;
  width: 100%;
}
a.editMember.thumbnail {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
#membersList_length {
  margin-left: 15px;
}
table#membersList .btn-group .btn.dropdown-toggle {
  padding-bottom: 4px;
}
table#membersList .btn-group .btn.dropdown-toggle span.caret {
  margin-left: 5px;
}
table#membersList tbody tr td .avatar {
  border: 1px solid #E3E2E2;
  border-radius: 2px;
  float: left;
  height: 40px;
  margin-left: 15px;
  padding: 2px;
  width: 40px;
  overflow: hidden;
}
table#membersList tbody tr td .avatar img {
  height: 60px;
}
table#membersList tbody tr td .name {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
table#membersList tbody tr td .email {
  float: left;
  margin-left: 10px;
  margin-top: 2px;
}
