{% extends "MembersBundle:List:list.html.twig" %}

{% block body_class %}membersGallery{% endblock %}
{% block listTitle %}Galeria osób{% endblock %}

{% block listTable %}
<div class="container-fluid" id="membersGallery">
    {% for member in members %}
        {% if loop.index0%6 == 0 %}<div class="row-fluid thumbnails">{% endif %}
        <a href="{{ path("_member_edit",{id : member.id}) }}" class="img-polaroid thumbnail span2 openUrlInModal">
            <img src="{{ member.getFoto() }}" class=""/>
                {{ member.name }}
        </a>
        {% if loop.index0%6 == 5 %}</div>{% endif %}
    {% endfor %}
</div>
{% endblock %}

{% block listTabs %}{% endblock listTabs %}
{% block filterButton %}{% endblock filterButton %}