{% extends "MembersBundle:List:edit.html.twig" %}

{% block action %}{{ path("_member_new") }}{% endblock action %}
{% block method %}post{% endblock method %}

{% block modal %}
<div class="hidden" id="ui-editMemberData">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{% block modalTitle %}Nowy użytkownik{%endblock modalTitle%}</h3>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary pull-right" id="saveFormInModal">Zapisz</a>
    </div>
</div>
{% endblock modal %}
