<p>Karnet sprzedano. Możesz go teraz wydrukować</p>

<span class="hidden" id="ui-printVoucherData">
    <div class="modal-footer">
        <a href="{{ path("_voucher_print",{id : voucher.id}) }}" class="btn pull-right" id="printVoucherButton" data-dismiss="modal" aria-hidden="true">Wydrukuj karnet</a>
    </div>
</span>

<script>
    $(function() {
        setupNewVoucherModalForPrinting();

        $.pnotify({
            title: 'Uwaga',
            text: 'Nowy karnet został sprzedany!',
            icon: false,
            opacity: 0.95,
            sticker: false,
            history: false
        });
    });
</script>